 <% @heading = "Joe Guy's Sports Betting Web Site"-%>
<% @content = "Opening Screen - here be found National Football League predictions && more to come" -%>
<% @desc		= "Opening Screen - here be found National Football League predictions && more to come" %>

<% @nfl.each{|l| %>
<%= l %>
<% } %>
